<header class="fixed top-0 left-0 right-0 flex items-center text-white h-20 z-30">
  <nav class="container mx-auto">
    <div class="flex justify-between items-center">    
      <div class="flex items-center">
        <a harf="root_path" class="ml-3 text-white text-3xl font-sans font-bold">GearNet.</a>
      </div>
      <div class="flex items-center">
        <% if logged_in? %>
          <!-- Profile tooltip -->
          <%# <div id="UserAicon"></div> %>
          <div class="fixed top-2 right-1">
            <div id="dropdownButton" class="mx-6 p-3 hover:bg-gray-700 rounded-full cursor-pointer">
              <%= image_tag 'defaultUser.jpg', class:'border border-black/80 size-12 rounded-full' %>
            </div>   
            <div id="dropdownMenu" class="bg-[#353539] w-28 rounded-lg hidden">
              <ul class="text-center w-28">
                <li><%= link_to 'マイページ', "#", class: 'block px-4 py-2 hover:bg-gray-600 rounded-lg' %></li>
                <li><%= link_to 'Logout', logout_path, data: { turbo_method: "delete" }, class: 'block px-4 py-2 hover:bg-gray-600 rounded-lg' %></li>
              </ul>
            </div>
          </div>
        <% else %> 
          <%= link_to 'Log In', login_path, class: 'text-xl font-light hover:opacity-40' %>
          <%= link_to 'Sign Up', new_user_path, class: 'p-1 px-3 ml-16 text-black bg-white transition hover:opacity-40 text-xs font-bold rounded-sm' %>
        <% end %>
      </div>
    </div>
  </nav>
</header>
<script>
 
</script>