<div class="fixed top-24 left-80">
  <div class="grid grid-cols-3 gap-4 rounded-2xl overflow-hedden ">
    
    <div class="m-3 max-w-sm bg-white rounded-2xl transition-transform transform hover:scale-105">
      <div class="flex flex-col pt-3 px-3 pb-1">
        <%= image_tag 'user_sample', class: "border border-black/80 rounded-full", width: 50, height: 50 %>
        <div class="text-sm font-semibold ">User.name</div>
      </div>
      <%= image_tag 'guitar_sample', class: "object-cover h-72 w-96 rounded-b-2xl" %>
    </div>

    <div class="m-3 max-w-sm bg-white rounded-2xl transition-transform transform hover:scale-105">
      <div class="flex flex-col pt-3 px-3 pb-1">
        <%= image_tag 'user_sample', class: "border border-black/80 rounded-full", width: 50, height: 50 %>
        <div class="text-sm font-semibold ">User.name</div>
      </div>
      <%= image_tag 'guitar_sample', class: "object-cover h-72 w-96 rounded-b-2xl" %>
    </div>

    <div class="m-3 max-w-sm bg-white rounded-2xl transition-transform transform hover:scale-105">
      <div class="flex flex-col pt-3 px-3 pb-1">
        <%= image_tag 'user_sample', class: "border border-black/80 rounded-full", width: 50, height: 50 %>
        <div class="text-sm font-semibold ">User.name</div>
      </div>
      <%= image_tag 'guitar_sample', class: "object-cover h-72 w-96 rounded-b-2xl" %>
    </div>

    <div class="m-3 max-w-sm bg-white rounded-2xl transition-transform transform hover:scale-105">
      <div class="flex flex-col pt-3 px-3 pb-1">
        <%= image_tag 'user_sample', class: "border border-black/80 rounded-full", width: 50, height: 50 %>
        <div class="text-sm font-semibold ">User.name</div>
      </div>
      <%= image_tag 'guitar_sample', class: "object-cover h-72 w-96 rounded-b-2xl" %>
    </div>

  </div>
</div>


